@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  min-height: 100vh;
  height: 100%;
}

#app {
  background: linear-gradient(theme("colors.radial-from"), theme("colors.radial-to"));
  display: flex;
  flex-direction: column;
}

img {
  pointer-events: none;
}

.inner-disc {
  -webkit-box-shadow: inset 0px 5px 0px 0px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0px 5px 0px 0px rgba(0, 0, 0, 0.125);

}

.disc:hover img {
  animation: wiggle 0.5s linear infinite;
}

.disc {
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.3), 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.3), 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.bounce {
  animation: bounce 1s linear;
}

.animate-tiny-bounce {
  animation: tiny-bounce 2s linear infinite;
}

.bounce img {
  animation: spin 1s ease-out;
}

.animate-ping-1 {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animate-ping-2 {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  animation-delay: 0.5s;
}

.animate-ping-3 {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  animation-delay: 1s;
}

@keyframes wiggle {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(-15deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(calc(360deg * 3));
  }

  100% {
    transform: rotate(calc(360deg * 3));
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  12% {
    transform: scale(1.89);
  }

  24% {
    transform: scale(1.56);
  }

  36% {
    transform: scale(1.02);
  }

  54% {
    transform: scale(1.25);
  }

  74% {
    transform: scale(1.02);
  }

  82% {
    transform: scale(1.06);
  }

  92% {
    transform: scale(1.01);
  }

  96% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes tiny-bounce {
  0% {
    transform: scale(1);
  }

  12% {
    transform: scale(1.189);
  }

  24% {
    transform: scale(1.156);
  }

  36% {
    transform: scale(1.102);
  }

  54% {
    transform: scale(1.125);
  }

  74% {
    transform: scale(1.102);
  }

  82% {
    transform: scale(1.106);
  }

  92% {
    transform: scale(1.101);
  }

  96% {
    transform: scale(1.102);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ping {

  60%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .inner-disc {
    -webkit-box-shadow: inset 0px 8px 0px 0px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0px 8px 0px 0px rgba(0, 0, 0, 0.125);

  }

  .disc {
    -webkit-box-shadow: inset 0px -8px 0px 0px rgba(0, 0, 0, 0.3), 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px -8px 0px 0px rgba(0, 0, 0, 0.3), 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  }
}